a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a + a {
  margin-left: 20px;
}
a:hover {
  color: hsl(237, 45%, 76%);
}
.active {
  color: red;
}

body {
  margin: 0;
}

#root {
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

dd {
  margin-bottom: 10px;
}